.rate-button {
  i {
    width: 24px;
    height: 24px;
    &:hover {
      font-size: 23px;

    }
  }

  cursor: pointer;

  color: transparent;
  background: $gradient_primary;
  background-clip: text;
  -webkit-background-clip: text;

  user-select: none;

}