.auth-buttons
    a(href="./sign-in.html")
        button.btn.btn_white.auth-buttons__button.auth-buttons__log-in Войти
    a(href="./registration.html")
        button.btn.auth-buttons__button.auth-buttons__sign-in Зарегистрироваться