.auth-buttons
    a(href="./sign-in.html")
        button.btn.btn_white.auth-buttons__button.btn_narrow-87px Войти
    a(href="./registration.html")
        button.btn.auth-buttons__button.btn_narrow-196px Зарегистрироваться