.rooms-panel__wrapper
    h1.title.rooms-panel__title Номера, которые мы для вас подобрали

    .rooms-panel
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('888', '9 990', 'люкс')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('888', '9 990', 'люкс')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов
        .rooms-panel__item
            .room-card
                .room-card__slider
                    include ../slick-carousel/slick-carousel
                .room-card__wrapper
                    .room-card__room-info
                        +room-info('840', '9 990')
                    .room-card__rating
                        .room-card__rate-button
                            +rate-button
                        .room-card__feedbacks
                            span.room-card__feedbacks-number 145
                            span &#32;Отзывов


    // Для того, чтобы соответветствовало макету без функциональности, конткент был отключен через класс класс .pagination_temporary-hidden
    #pagination-data-container.pagination_temporary-hidden There will be page content
    .pagination.rooms-panel__pagination
        #pagination-bar
        .pagination__footer.text 1 - 15 из 100+ вариантов аренды