.rooms-panel {
  &__wrapper {
    margin: 29px 0 70px 0;
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-column-gap: 12px;
  grid-row-gap: 20px;

  &__title {
    margin-bottom: 23px;
  }

  &__pagination {
    margin-top: 40px;
  }
}

