.comment
    img.comment__user-photo(src="../../assets/img/user-photo/user-photo.jpg" alt="../../assets/img/user-photo/user-photo.jpg")
    .comment__user-info
        .comment__user-name Мурад Сарафанов
        .comment__last-activity 5 дней назад
    .comment__like-button
        include ../like-button/like-button
    .comment__text
        p.text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.