.expandable-block {
  &__header {
    width: 266px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    user-select: none;
  }

  &__icon {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition_global;

    &_open {
      transform: rotate(180deg);
      @include transition_global;
    }
  }

  &__content {
    display: block;

    &_hidden {
      display: none;
    }
  }

}