mixin toggle-button(name, text)
    .toggle-button
        label(for=id).text
            input(type="checkbox" name=name)
            .toggle-button__slider
            .text.toggle-button__text= text