.toggle-button
    label(for="send-promo").text
        input(type="checkbox" id="send-promo" name="send-promo")
        .toggle-button__slider
        .text.toggle-button__text Получать спецпредложения