.room-content
    .room-content__item
        p Сведения о номере
    .room-content__item
        p Впечатления от номере
    .room-content__item.room-content__feedback
        p Отзывы
    .room-content__item
        p Правила
    .room-content__item
        p Отмена
    .room-content__item.room-content__book-room
        p Забронировать