.room-content {
  &__container {
    max-width: 1170px;
    margin: 70px auto;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
  }

  &__book-room {
    grid-column: 3/4;
    grid-row: 1/4;
  }

  &__feedback {
    grid-column: 1/3;
  }

  &__title {
    margin-bottom: 20px;
  }
}