.slick-carousel__wrapper
    .slick-carousel
        img(src="../../assets/img/room-photo/image.jpg" alt="")
        img(src="../../assets/img/room-photo/image-1.jpg" alt="")
        img(src="../../assets/img/room-photo/image-2.jpg" alt="")
        img(src="../../assets/img/room-photo/image-3.jpg" alt="")
