mixin btn(text)
    button.btn= text

mixin btn_white(text)
    button.btn.btn_white= text

mixin btn_minimal(text)
    button.btn.btn_minimal= text

mixin btn_send(text)
    .btn__send-wrapper
        button.btn.btn_send= text
        i.material-icons.btn__send-icon arrow_forward
