.room-card
    .room-card__slider
        include ../slick-carousel/slick-carousel
    .room-card__wrapper
        .room-card__room-info
            +room-info('888', '9 990', 'люкс')
        .room-card__rating
            .room-card__rate-button
                include ../rate-button/rate-button
            .room-card__feedbacks
                span.room-card__feedbacks-number 145
                span &#32;Отзывов

.room-card
    .room-card__slider
        include ../slick-carousel/slick-carousel
    .room-card__wrapper
        .room-card__room-info
            +room-info('840', '9 990')
        .room-card__rating
            .room-card__rate-button
                include ../rate-button/rate-button
            .room-card__feedbacks
                span.room-card__feedbacks-number 145
                span &#32;Отзывов