.landing-page
    .landing-page__container
        .landing-page__widget
            include ../card/card__filter

        .landing-page__tagline Лучшие номера для вашей работы, отдыха и просто вдохновения