footer.footer
    .footer__container.container

        .footer__info
            include ../logo/logo
            .footer__text
                p.text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        nav.footer__nav
            include ../footer-nav/footer-nav

        .footer__subscribe
            label(for="email").label.input__label Подписка
            .footer__text
                p.text Получайте специальные предложения и новости сервиса
            .input__wrapper_narrow
                input.input.input_narrow(type="email" id="email" placeholder="Email")
                i.material-icons.input__icon.input__icon_purple arrow_forward
include ../footer-bottom/footer-bottom