footer.footer
    .footer__container.container

        .footer__info
            include ../logo/logo
            .footer__text
                +text('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»')

        nav.footer__nav
            include ../footer-nav/footer-nav

        .footer__subscribe
            label(for="user_email").label.input__label Подписка
            .footer__text
                +text('Получайте специальные предложения и новости сервиса')
            .input-subscription__wrapper
                input.input.input-subscription__input.input_narrow(type="email" id="user_email" name="user_email" placeholder="Email")
                i.material-icons.input-subscription__icon arrow_forward
    include ../footer-bottom/footer-bottom