.like-button {

  width: 40px;
  height: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: start;

  border: 1px solid $dark_s25;
  border-radius: 10px;
  box-sizing: border-box;

  cursor: pointer;
  user-select: none;

  &__icon {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    font-size: 10px;
    color: $dark_s25;
  }

  &__counter {
    width: 18px;
    height: 18px;

    padding: 4px 1px;

    @include montserrat(10px, $dark_s25, 400);
    font-size: 10px;
  }
}

.like-button_active {

    border-color: transparent;
    background: radial-gradient(circle, #fff, #fff), $gradient_primary;
    background-origin: border-box;
    background-clip: padding-box, border-box;

  .like-button__icon {
      color: transparent;
      background: $gradient_primary;
      -webkit-background-clip: text;
      transition: .4s;
  }

  .like-button__counter {
      color: $purple;
  }

}