.pie-chart
    .pie-chart__diagram
        .pie-chart__text.pie-chart__text_big 260
        .pie-chart__text голосов

    .pie-chart__list
        .pie-chart__list-circle
        .pie-chart__list-circle
        .pie-chart__list-circle
        .pie-chart__list-circle
        .pie-chart__list-list-item Великолепно
        .pie-chart__list-list-item Хорошо
        .pie-chart__list-list-item Удовлетворительно
        .pie-chart__list-list-item Разочарован