.search-room {
  &__container {
    display: grid;
    grid-template-columns: 266px 1fr;
    grid-column-gap: calc(100vw / 24);
  }

  &__rooms {
  }

  &__filter {
    background-color: lightgreen;
  }
}