.search-room {
  margin: 29px 0 70px 0;

  &__container {
    display: grid;
    grid-template-columns: 266px 1fr;
    grid-column-gap: 60px;
  }
}

@media (max-width: 991px) {
  .search-room {
    &__container {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 10px;
    }
  }
}

@media (max-width: 859px) {
  .search-room {
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: 500px 1fr;
    }
  }
}

