.search-room
    .search-room__container.container
        .search-room__filter
            include ../rooms-filter/rooms-filter
        .search-room__rooms
            include ../rooms-panel/rooms-panel
