.search-room
    .search-room__container.container
        .search-room__filter
            include ../room-filter/room-filter
        .search-room__rooms
            include ../rooms-panel/rooms-panel
