.range-slider
    label().label.input__label Диапазон цены
    p.text_s50.range-slider__text.range-slider__slider There will be slider
    p.text_s50.range-slider__text Стоимость за сутки пребывания в номере