.footer-body
    .footer-body__container

        .footer-body__info
            include ../logo/logo
            .footer-body__text
                +text('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»')

        nav.footer-body__nav
            include ../footer-nav/footer-nav

        .footer-body__subscribe
            +label('Подписка')
            .footer-body__text
                +text('Получайте специальные предложения и новости сервиса')
            +input_subscription('user_email')