.socials
    a.socials__item(href="page-not-found.html")
        i.fab.fa-twitter.socials__icon
    a.socials__item(href="page-not-found.html")
        i.fab.fa-facebook-square.socials__icon
    a.socials__item(href="page-not-found.html")
        i.fab.fa-instagram.socials__icon
