.socials
    a.socials__item(href="page-not-found.html" target="_blank" rel="noopener noreferrer")
        i.fab.fa-twitter.socials__icon
    a.socials__item(href="page-not-found.html" target="_blank" rel="noopener noreferrer")
        i.fab.fa-facebook-square.socials__icon
    a.socials__item(href="page-not-found.html" target="_blank" rel="noopener noreferrer")
        i.fab.fa-instagram.socials__icon
