.socials
    a.socials__item(href="#")
        i.fab.fa-twitter.socials__icon
    a.socials__item(href="#")
        i.fab.fa-facebook-square.socials__icon
    a.socials__item(href="#")
        i.fab.fa-instagram.socials__icon
