.footer-nav
    ul.footer-nav__list
        .footer-nav__list-title
            +label('Навигация')
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") О нас
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Новости
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Служба поддержки
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Услуги

    ul.footer-nav__list
        .footer-nav__list-title
            +label('о нас')
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") О сервисе
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Наша команда
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Вакансии
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Инвесторы

    ul.footer-nav__list
        .footer-nav__list-title
            +label('Служба поддержки')
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Соглашения
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Сообщества
        li.footer-nav__list-item
            a.link.link_light(href="page-not-found.html") Связь с нами



