.footer-nav
    ul.footer-nav__list
        .footer-nav__list-title
            +label('Навигация')
        li.footer-nav__list-item
            a.link.link_light(href="#") О нас
        li.footer-nav__list-item
            a.link.link_light(href="#") Новости
        li.footer-nav__list-item
            a.link.link_light(href="#") Служба поддержки
        li.footer-nav__list-item
            a.link.link_light(href="#") Услуги

    ul.footer-nav__list
        .footer-nav__list-title
            +label('о нас')
        li.footer-nav__list-item
            a.link.link_light(href="#") О сервисе
        li.footer-nav__list-item
            a.link.link_light(href="#") Наша команда
        li.footer-nav__list-item
            a.link.link_light(href="#") Вакансии
        li.footer-nav__list-item
            a.link.link_light(href="#") Инвесторы

    ul.footer-nav__list
        .footer-nav__list-title
            +label('Служба поддержки')
        li.footer-nav__list-item
            a.link.link_light(href="#") Соглашения
        li.footer-nav__list-item
            a.link.link_light(href="#") Сообщества
        li.footer-nav__list-item
            a.link.link_light(href="#") Связь с нами



