.footer-nav {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 40px;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    color: $dark_s50;

    white-space: nowrap;


  }

  &__list-title {
    padding-bottom: 11px;
    //white-space: nowrap;
  }

  &__list-item {
    padding: 11px 0;
  }

}

@media (max-width: 1120px) {
  .footer-nav {
    display: flex;
    flex-flow: column;

    &__list {
      border-bottom: 1px solid $dark_s25;
    }

    &__list-title {
      clear: right;
    }

    li {
      display: inline-block;
      padding-right: 15px;
    }

  }
}

@media (max-width: 1020px) {
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    &__list {
      border-bottom: none;
    }
  }

}

@media (max-width: 850px) {
  .footer-nav {
    display: flex;
    flex-flow: column;

    &__list {
      border-bottom: 1px solid $dark_s25;
    }
  }
}