form(action="" method="POST").card
    +title("Войти")
    .card__fieldset
        +input("user_email","Email", "text")
        +input("user_password", "Пароль", "password")
    .card__button
        +btn_send("Войти")
    .card__footer
        a(href="./registration.html").link Нет аккаунта на Toxin?
        a(href="./registration.html")
            button(type="button").btn.btn_white Создать