form(action="" method="").card
    +title("Регистрация аккаунта")
    .card__fieldset
        input(type="text" id="user_name" name="user_name" placeholder="Имя").input

        input(type="text" id="user_surname" name="user_surname" placeholder="Фамилия").input

        +radio-button("user_gender")
    .card__fieldset
        +label("Дата Рождения")
        +input_masked("user_birthday", "user_birthday", "Дата рождения")
    .card__fieldset
        +label("Данные для входа в сервис")

        input(type="text" id="user_email" name="user_email" placeholder="Email").input

        input(type="password" id="user_password" name="user_password" placeholder="Пароль").input

        +toggle-button("get_offers", "Получать спецпредложения", id)
    .card__button
        .btn__send-wrapper
            button.btn.btn_send Перейти к оплате
                i.material-icons.btn__send-icon arrow_forward

    .card__footer
        a(href="sign-in.html").link Уже есть аккаунт на Toxin?
        a(href="sign-in.html")
            button(type="button").btn.btn_white Войти