form(action="" method="").card
    +title("Регистрация аккаунта")
    .card__fieldset
        input(type="text" id="user_name" name="user_name" placeholder="Имя").input

        input(type="text" id="user_surname" name="user_surname" placeholder="Фамилия").input

        .radio-button
            .radio-button__item
                input(type="radio" id="man" name="gender" value="man").radio-button__input
                label(for="man").text Мужчина
            .radio-button__item
                input(type="radio" id="woman" name="gender" value="woman").radio-button__input
                label(for="woman").text Женщина
    .card__fieldset
        label(for="user_birthday").label.input__label Дата Рождения
        input.input.input_masked(type="text" id="user_birthday" name="user_birthday" placeholder="ДД.ММ.ГГГГ")
    .card__fieldset
        +label("Данные для входа в сервис")

        input(type="text" id="user_email" name="user_email" placeholder="Email").input

        input(type="password" id="user_password" name="user_password" placeholder="Пароль").input

        .toggle-button
            label(for="send-promo").text
                input(type="checkbox" id="send-promo" name="send-promo")
                .toggle-button__slider
                .text.toggle-button__text Получать спецпредложения
    .card__button
        .btn__send-wrapper
            button.btn.btn_send Перейти к оплате
                i.material-icons.btn__send-icon arrow_forward

    .card__footer
        a(href="sign-in.html").link Уже есть аккаунт на Toxin?
        a(href="sign-in.html")
            button(type="button").btn.btn_white Войти