.card {
  max-width: 380px;
  box-sizing: border-box;

  padding: 39px 29px 29px 29px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: $bgc;
  @include box-shadow_global;

  &__title {
    padding-bottom: 4px;
  }

  &__fieldset {
    margin-top: 18px;

    input {
      margin-bottom: 10px;

    }

    *:last-child {
      margin-bottom: 0;
    }

    .label {
      margin-bottom: 5px;
    }
  }

  &__dropdown-content {
    transform: translateY(-10px);
  }

  &__radio {
    padding: {
      bottom: 7px;
    }
  }

  &__button {
    margin-top: 19px;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
  }

}