.dropdown.dropdown__guests
    label(for="51222").label.input__label Dropdown Guests
    .input__wrapper
          input(type="text" id="51222" name="" placeholder="Сколько гостей").dropdown__input.input
          i.material-icons.input__icon expand_more

    .dropdown__content.dropdown__content_hidden
        .dropdown-counter
                .dropdown-counter__item
                    h3.dropdown-counter__title.label Взрослые
                    .dropdown-counter__counter
                        button.dropdown-counter__button.dropdown-counter__minus.dropdown-counter__button_blocked -
                        .dropdown-counter__value.label 0
                        button.dropdown-counter__button.dropdown-counter__plus +
                .dropdown-counter__item
                    h3.dropdown-counter__title.label Дети
                    .dropdown-counter__counter
                        button.dropdown-counter__button.dropdown-counter__button_blocked.dropdown-counter__minus -
                        .dropdown-counter__value.label 0
                        button.dropdown-counter__button.dropdown-counter__plus +
                .dropdown-counter__item
                    h3.dropdown-counter__title.label Младенцы
                    .dropdown-counter__counter
                        button.dropdown-counter__button.dropdown-counter__button_blocked.dropdown-counter__minus -
                        .dropdown-counter__value.label 0
                        button.dropdown-counter__button.dropdown-counter__plus +
                .dropdown-counter__item.dropdown-counter__controls
                    button.btn.btn_minimal.dropdown-counter__clear-button.dropdown-counter__controls_hidden Очистить
                    button.btn.btn_minimal.dropdown-counter__submit-button Применить
