.dropdown
    input(
        placeholder="2 спальни, 2 кровати..."
    ).dropdown__header.input__dropdown.input
    .dropdown__content

        ul.dropdown__list

            li.dropdown__item
                .dropdown__key
                    +label('Спальни')

                .counter
                    button.counter__button.counter__minus -
                    .counter__sum
                        +label('0')
                    button.counter__button.counter__plus   +

            li.dropdown__item
                .dropdown__key
                    +label('Кровати')

                .counter
                    button.counter__button.counter__minus -
                    .counter__sum
                        +label('0')
                    button.counter__button.counter__plus   +

            li.dropdown__item
                .dropdown__key
                    +label('Ванные комнаты')

                .counter
                    button.counter__button.counter__minus -
                    .counter__sum
                        +label('0')
                    button.counter__button.counter__plus   +
