.dropdown {
  &__content {

    position: absolute;
    width: 320px;
    background-color: $bgc;

    z-index: 1;

    &_hidden {
      display: none;
    }

    &_narrow {
      max-width: 266px;
    }
  }

  &__input {
    &:focus {
      border-radius: 4px 4px 0 0;
    }
  }
}