nav
    ul.navbar
        li.navbar__item
            a(href="page-not-found.html").link.link_light.link_bold О нас
        li.navbar__item.navbar__dropdown
            .navbar__item_expandable
                .link.link_light Услуги
                i.material-icons expand_more
            ul.navbar__dropdown-content
                a(href="page-not-found.html").link.link_light
                    li.navbar__dropdown-item Услуга 1
                a(href="page-not-found.html").link.link_light
                    li.navbar__dropdown-item Услуга 2

        li.navbar__item
            a(href="page-not-found.html").link.link_light Вакансии
        li.navbar__item
            a(href="page-not-found.html").link.link_light Новости
        li.navbar__item.navbar__dropdown
            .navbar__item_expandable
                .link.link_light Соглашения
                i.material-icons expand_more
            ul.navbar__dropdown-content
                a(href="page-not-found.html").link.link_light
                    li.navbar__dropdown-item Соглашение 1
                a(href="page-not-found.html").link.link_light
                    li.navbar__dropdown-item Соглашение 2


