include ../burger-button/burger-button
nav.navbar
    a(href="page-not-found.html")
        .navbar__item
            .navbar__link.navbar__link_bold.link О нас

    a(href="page-not-found.html")
        .navbar__item.navbar-dropdown
            .navbar__link.link Услуги
                i.material-icons expand_more

            ul.navbar-dropdown__content
                    li
                        a(href="page-not-found.html").navbar__link.link Услуга 1
                    li
                        a(href="page-not-found.html").navbar__link.link Услуга 2
                    li
                        a(href="page-not-found.html").navbar__link.link Услуга 3

    a(href="page-not-found.html")
        .navbar__item
            .navbar__link.link Вакансии

    a(href="page-not-found.html")
        .navbar__item
            .navbar__link.link Новости

    a(href="page-not-found.html")
        .navbar__item.navbar-dropdown
            .navbar__link.link Соглашения
                i.material-icons expand_more

            ul.navbar-dropdown__content
                    li
                        a(href="page-not-found.html").navbar__link.link Соглашение 1
                    li
                        a(href="page-not-found.html").navbar__link.link Соглашение 2
                    li
                        a(href="page-not-found.html").navbar__link.link Соглашение 3