.navbar-dropdown {
  display: inline-block;
  padding-right: 24px;


  i {
    position: absolute;
    //top: 7px;
    line-height: 24px;
  }
}

.navbar-dropdown__content {
  z-index: 10;

  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;

  background-color: $bgc;
  border-bottom: 1px solid $dark_s50;
}

.navbar-dropdown:hover .navbar-dropdown__content {
  display: block;
}