.navbar {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__item {
    display: flex;
    padding: 0 10px 0 11px;
    position: relative;
    white-space: nowrap;

    &:last-child {
      padding-right: 0;
    }

    &_expandable {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__dropdown {
    cursor: pointer;
  }

  &__dropdown-content {
    list-style: none;
    padding: 0;

    display: none;
    max-width: 150px;
    min-width: 70px;

    position: absolute;
    top: 30px;
    left: -5px;
    background-color: $bgc;

    border-bottom: 1px solid $dark_s25;

    &_shown {
      display: block;
    }
  }

  &__dropdown-item {
    padding: 15px 20px 15px 10px;

    &:hover {
      background-color: $dark_s10;
    }
  }
}