.footer-bottom {
  display: flex;
  background-color: $bgc;

  margin-top: 1px;

  &__container {
    height: 70px;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

  }

  &__logo {
    display: none;
  }

  &__copyright {
    text-align: center;
  }

}



@media (max-width: 768px) {
  .footer-bottom {


    &__container {
      height: 367px;

      flex-direction: column;
      justify-content: center;
    }

    &__logo {
      display: block;
    }

    &__copyright {
      margin-bottom: 5px;
    }
  }
}