.footer-bottom
    .footer-bottom__container.container
        .footer-bottom__logo
            include ../logo/logo
        .footer-bottom__copyright
            +text('Copyright © 2018 Toxin отель. Все права зачищены.')
        .footer-bottom__socials
            include ../socials/socials