.radio-button
    .radio-button__item
        input(type="radio" id="man" name="gender" value="man").radio-button__input
        label(for="man").text Мужчина
    .radio-button__item
        input(type="radio" id="woman" name="gender" value="woman").radio-button__input
        label(for="woman").text Женщина