label(for="text-field-example").label.input__label text field
input(type="text" id="text-field-example" name="" placeholder="Email").input

label(for="user_birthday").label.input__label Masked input
input.input.input_masked(type="text" id="user_birthday" name="user_birthday" placeholder="ДД.ММ.ГГГГ")

mixin input_subscription(id)
    .input-subscription__wrapper
        input.input.input-subscription__input.input_narrow(type="email" id=id placeholder="Email")
        i.material-icons.input-subscription__icon arrow_forward

