label(for="subscription-text-field1").label.input__label subscription text field
.input__wrapper_narrow
    input.input.input_narrow(type="email" id="subscription-text-field1" placeholder="Email")
    i.material-icons.input__icon.input__icon_purple arrow_forward