label(for="text-field-example").label.input__label text field
input(type="text" id="text-field-example" name="" placeholder="Email").input

mixin input_subscription(id)
    .input-subscription__wrapper
        input.input.input-subscription__input.input_narrow(type="email" id=id placeholder="Email")
        i.material-icons.input-subscription__icon arrow_forward

mixin input_masked(name)
    input.input.input_masked(type="text" id="user_birthday" name=name placeholder="ДД.ММ.ГГГГ")