.dropdown-counter
    .dropdown-counter__item
        h3.dropdown-counter__title.label Спальни
        .dropdown-counter__counter
            button.dropdown-counter__button.dropdown-counter__minus.dropdown-counter__button_blocked -
            .dropdown-counter__value.label 0
            button.dropdown-counter__button.dropdown-counter__plus +
    .dropdown-counter__item
        h3.dropdown-counter__title.label Кровати
        .dropdown-counter__counter
            button.dropdown-counter__button.dropdown-counter__button_blocked.dropdown-counter__minus -
            .dropdown-counter__value.label 0
            button.dropdown-counter__button.dropdown-counter__plus +
    .dropdown-counter__item
        h3.dropdown-counter__title.label Ванные Комнаты
        .dropdown-counter__counter
            button.dropdown-counter__button.dropdown-counter__button_blocked.dropdown-counter__minus -
            .dropdown-counter__value.label 0
            button.dropdown-counter__button.dropdown-counter__plus +
