mixin room-feature(icon, title, description)
    .room-feature
        .room-feature__icon
            i.material-icons= icon
        .room-feature__text
            .room-feature__title= title
            .room-feature__description= description