.auth {
  &__container {
    width: 100%;
    min-height: 700px;

    background: transparent url("./common.block/auth/auth__bg.jpg") bottom center no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__widget {
  }

  &__registration {
    justify-content: flex-start;
  }
}