.rooms-filter {
  &__item {
    margin-bottom: 30px;

    &:first-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 859px) {
  .rooms-filter {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: dense;
    }
  }
}