form(action="" method="POST").checkbox
    .checkbox__title
        h3.label.input__label Rich Checkbox buttons
    label(for="wide-halls").checkbox__item
        input(type="checkbox" id="wide-halls" name="wide-halls")
        .checkbox__custom-input
        .checkbox__text.checkbox__text_bold Широкий коридор
        .checkbox__empthy-space
        .checkbox__decription Ширина коридоров в номере не менее 91 см.
    label(for="helper").checkbox__item
        input(type="checkbox" id="helper" name="helper")
        .checkbox__custom-input
        .checkbox__text.checkbox__text_bold Помощник для инвалидов
        .checkbox__empthy-space
        .checkbox__decription На 1 этаже вас встретит специалист  и проводит до номера.