.checkbox
    h3.label.checkbox__title Доступность

    label.checkbox__item
        input(type="checkbox" id="wideHall" name="wideHall")
        .checkbox__custom-input
        .checkbox__text.checkbox__text_bold Широкий коридор
        .checkbox__empthy-space
        .checkbox__decription Ширина коридоров в номере не менее 91 см.

    label.checkbox__item
        input(type="checkbox" id="helper" name="helper")
        .checkbox__custom-input
        .checkbox__text.checkbox__text_bold Помощник для инвалидов
        .checkbox__empthy-space
        .checkbox__decription На 1 этаже вас встретит специалист  и проводит до номера.