.checkbox
    .checkbox__title
        h3.label.input__label Checkbox buttons
    label(for="smoking-allowed").checkbox__item
        input(type="checkbox" id="smoking-allowed" name="smoking-allowed")
        .checkbox__custom-input
        .checkbox__text Можно курить
    label(for="pets-allowed").checkbox__item
        input(type="checkbox" id="pets-allowed" name="pets-allowed")
        .checkbox__custom-input
        .checkbox__text Можно с питомцами
    label(for="party-allowed").checkbox__item
        input(type="checkbox" id="party-allowed" name="party-allowed")
        .checkbox__custom-input
        .checkbox__text Можно пригласить гостей (до 10 человек)