.checkbox
    h3.label.checkbox__title правила дома
    label(for="allowedSmoking").checkbox__item
        input(type="checkbox" id="allowedSmoking" name="allowedSmoking")
        .checkbox__custom-input
        .checkbox__text Можно курить
    label(for="allowedPets").checkbox__item
        input(type="checkbox" id="allowedPets" name="allowedPets")
        .checkbox__custom-input
        .checkbox__text Можно с питомцами
    label(for="allowedGuests").checkbox__item
        input(type="checkbox" id="allowedGuests" name="allowedGuests")
        .checkbox__custom-input
        .checkbox__text Можно пригласить гостей (до 10 человек)



