doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block title
            title Toxin
        meta(name="description" content="Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»")
        meta(name="keywords" content="Бронирование номеров, Toxin, ")
        meta(name="viewport"
            content="width=device-width, initial-scale=1.0, " +
            "user-scalable=no, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    body
        include import-mixins
        +header(false)
        block content
        include common.block/footer/footer
