extends html-template
block content
    .room-gallery
        .room-gallery__img
            img(src="./assets/img/room-photo/room-photo__888/img1.jpg" alt="")
        .room-gallery__img
            img(src="./assets/img/room-photo/room-photo__888/img2.jpg" alt="")
        .room-gallery__img
            img(src="./assets/img/room-photo/room-photo__888/img3.jpg" alt="")
